<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebDavSyncConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebDavSyncConsole.Properties.Settings>
            <setting name="WebDavServerUrl" serializeAs="String">
                <value>https://elearning.hslu.ch</value>
            </setting>
            <setting name="WebDavServerPath" serializeAs="String">
                <value>/ilias/webdav.php/hslu/ref_696271/TA.PRG2.F0903/Dateiaustausch/Projekt/Gruppe13/</value>
            </setting>
            <setting name="WebDavServerUsername" serializeAs="String">
                <value>tfsuter</value>
            </setting>
            <setting name="WebDavServerPassword" serializeAs="String">
                <value>JS_+U4JK</value>
            </setting>
            <setting name="LocalSyncPath" serializeAs="String">
                <value>C:\Daten\Sync\Gruppe 13\</value>
            </setting>
            <setting name="ConflictOverWriteFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </WebDavSyncConsole.Properties.Settings>
    </userSettings>
</configuration>